@font-face {
    font-family: 'La-Gagliane';
    src: url('./assets/fonts/La-Gagliane.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amore';
    src: url('./assets/fonts/Amore-Dreaming-Sans-Serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none; */
}

body {
    background-color: black;
}


.navbar {
    margin-top: 1rem;
    background-color: rgba(128, 128, 128, 0.4);
    color: rgb(253, 253, 253);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: 200px;
}

.nav-Items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-Items li {
    cursor: pointer;
}

.about-section {
    width: 100%;
    padding: 50px;
    background-color: black;
}

/* #cursor {
    background-color: black;
    border-radius: 50px;

    height: 80px;
    width: 80px;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    filter: invert(1);
    mix-blend-mode: difference;
} */

/* .cursor-hover-active {
    top: 0;
    left: 0;
    width: 60px !important;
    height: 60px !important;
    background: transparent !important;
    border: 2px solid rgba(0, 0, 0, 0.5) !important;
} */

/* #tip {
    background-color: white;
    color: black;
    border-radius: 15px;

    position: absolute;
    top: 10px;
    left: 60px;
    padding: 5px 10px;
    pointer-events: none;

    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;

} */

.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-text {
    position: absolute;
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.2);
    z-index: 0;
    pointer-events: none;
}

.foreground-text {
    position: absolute;
    font-size: 9vw;
    color: rgb(255, 255, 255, 0.2);
    z-index: 1;
    pointer-events: none;
}

.left {
    top: 30%;
    left: 5%;
}

.right {
    bottom: 0;
    right: 5%;
}

.hero-canvas {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.title-project span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 100px;
    margin-top: 100px;
}

.scroll-reveal {
    margin: 20px 0;
}

.scroll-reveal-text {
    font-size: clamp(1.6rem, 4vw, 3rem);
    line-height: 1.5;
    font-weight: 600;
    color: white;
}

.word {
    display: inline-block;
}

.project-section {
    margin: 10%;
}

.card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 50px;
    position: relative;
}

.custom-spotlight-card svg {
    position: absolute;
}

.custom-spotlight-card .line {
    stroke-dasharray: 260;
    stroke-width: 1px;
    fill: transparent;
    stroke: rgba(78, 255, 13, 0.3);
    animation: svgAnimation 2.5s linear infinite;
}

.card-spotlight {
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid #222;
    background-color: #111;
    /* padding: 2rem; */
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(255, 255, 255, 0.05);
}

.card-spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.6;
}

.custom-spotlight-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.up,
.down {
    overflow: hidden;
    border-radius: 1.5rem;
    height: 50%;
}

.up {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.up img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 0.5rem;
}

.up img:hover {
    transform: scale(1.05);
}

.down {
    padding: 1.5rem;
    color: aliceblue;
}

@keyframes svgAnimation {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 1000;
    }
}


/* ------------------shiny-text--------------------- */
.Title {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.shiny-text {
    color: #b5b5b5a4;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.shiny-text.disabled {
    animation: none;
}